
footer {
	background-color: #f3f6fa;
	padding: 50px;
	@media only screen and (max-width: 489px) {
		padding: 30px 20px;

		.navbar-brand {
			img {
				width: 140px;
			}
		}
	}

	.main-content {
		@media only screen and (max-width: 489px) {
			margin-top: 30px;
		}

		.f-left {
			@media only screen and (max-width: 769px) {
				justify-content: space-between;
				margin-bottom: 60px;
			}
			@media only screen and (max-width: 489px) {
				flex-wrap: nowrap;
				margin-bottom: 44px;
			}

			.adress {
				@media only screen and (max-width: 489px) {
					width: 55%;
				}

				.title {
					font-size: 20px;
					color: #000;
					font-weight: 700;
					@media only screen and (max-width: 1100px) {
						font-size: 17px;
					}
					@media only screen and (max-width: 489px) {
						line-height: 26px;
					}
				}

				.details {
					font-size: 18px;
					color: #000;
					font-weight: 400;
					max-width: 80%;
					padding-top: 0;
					margin-bottom: 0px;
					@media only screen and (max-width: 1100px) {
						font-size: 15px;
					}
					@media only screen and (max-width: 489px) {
						line-height: 20px;
						
					}
				}
			}

			.contact {
				@media only screen and (max-width: 489px) {
					width: auto;
				}

				.mobile {
					font-size: 20px;
					color: #005096;
					font-weight: 700;
				}

				.email {
					margin-bottom: 0px;
				}
			}

			.pages {
				.item {
					&:last-child {
						margin-bottom: 0px;
					}
				}
			}
		}

		.f-right {
			@media only screen and (max-width: 769px) {
				justify-content: space-between;
			}

			.socials {
				height: 100%;
				@media only screen and (max-width: 489px) {
					height: auto;
					justify-content: flex-start!important;
				}

				svg {
					color: #7d96af;
				}

				svg:first-child {
					margin-right: 20px;
				}
			}

			.register {
				padding-left: 100px;
				@media only screen and (max-width: 1100px) {
					padding-left: 0px;
				}
				@media only screen and (max-width: 489px) {
					padding-left: 11px;
					margin-top: 30px;
				}

				.heading {
					font-size: 18px;
					line-height: 20px;
					color: #000;
					font-weight: 700;
				}

				.subheading { 
					font-size: 15px;
					color: #000;
					font-weight: 400;
					margin-bottom: 30px;
				}

				.email {
					width: 100%;
					position: relative;

					input {
						background-color: #fff;
						border: 0;
						border-radius: 50px;
						height: 50px;
						padding: 10px 15px;
						font-weight: 500;

						&::placeholder {
							color: #7d96af;
						}
					}

					&::after {
						content: '';
						background-image: url(../images/email.jpg);
						background-size: cover;
						display: block;
						position: absolute;
						right: 20px;
						top: 16px;
						width: 24px;
						height: 20px;
					}
				}
			}
		}
	}

	.bottom-content {
		padding-top: 40px;
		margin-top: 40px;
		border-top: 1px solid #d0dae3;

		span {
			color: #000;
			font-weight: 500;
			margin-right: 20px;
		}

		a {
			margin-right: 15px;
			text-decoration: none;
			font-weight: 500;
			color: #005096;

			@media only screen and (max-width: 769px) {
				margin-right: 10px;
				font-size: 14px;
			}
			@media only screen and (max-width: 489px) {
				display: block;
				margin-top: 6px;
			}
		}
	}
}
